                           /* ARCADE MACHINE */


#arcadeImage {
    position: fixed;
    top: 30%;
   left: 40%;
   margin-top: 20px;
   display: block;    
   width: auto;
   height: auto;
   max-width: 400px;
}


#hiddenLink {
    left: 47.5%;
    opacity: 0;
    position: fixed;
    top: 67%;

}

body {
    background-color: #3aaafe;
}
                              /* NAV SCREEN */
                              
.btn {
    display: block;
    display: grid;
    margin: 30px auto;
    max-width: 140px;
    padding: 0 50px;
    text-align: center;


}
                        

                                /* MODAL */
.modal {
    background-color: (0,0,0,0.4);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal-content {
    background-color: lavender;
    border: px black;
    border-radius: 5px;
    height: 1000px;
    margin: 20% auto;
    padding: 20px;
    text-align: center;
    width: 90%;

}


.close {
    color: black;
    float: right;
    font-size: 15px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color:black;
    cursor: pointer;
    text-decoration: none;
}

iframe {
    width: 700px;
    height: 700px;
}